<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <form method="post">
                <textarea class="form-control" rows="5" name="user_csv"></textarea>
                <button class="btn btn-success mt-2">Render Data</button>
            </form>
            <table class="responsive-table" style="width: 100%">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>